@import '../mixins/_breakpoints.scss';

.component-footer__footer__wrapper {
  padding: 4rem 8rem 3rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint('tablet') {
    padding: 4rem 4rem 3rem 4rem;
  }

  @include breakpoint('mobile', 'phablet') {
    flex-direction: column;
  }

  .component-footer__span__copy-text {
    font-family: 'Merriweather Sans', serif;
    font-size: .95rem;
    font-weight: 300;
    color: #888888;
  }

  .component-footer__nav__container-page-navigation {
    margin-left: auto;

    @include breakpoint('mobile', 'phablet') {
      margin:  2rem 0;
    }

    a {
      padding: 0 .75rem;
      font-family: 'Merriweather Sans', serif;
      font-size: .95rem;
      font-weight: 300;
      text-decoration: none;
      color: #888888;
    }
  }

  .component-footer__nav__container-social-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;

    @include breakpoint('mobile', 'phablet') {
      margin: 0;
    }

    .component-footer__a__link-social {
      padding: 0 .5rem;

      @include breakpoint('mobile', 'phablet') {
        padding: 0 1rem;
      }
    }
  }
}
