.component-header__header__wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 0;

  .component-header__h1__temp-brand-mark {
    font-family: 'Merriweather', serif;
    font-size: 1.75rem;
    font-weight: 300;
  }
}
